/* defining a link animation in the desktop view */
@keyframes navhover {
  from {
    background-color: transparent;
    color: #fff; }
  to {
    background-color: #fff;
    color: #cd0538; } }

body {
  margin: 0;
  font-family: Helvetica, sans-serif; }

header {
  overflow: hidden;
  background-color: #cd0538;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1230px;
  min-height: 60px; }
  header a.logo {
    z-index: 1;
    margin: 14px;
    float: left;
    display: block;
    background: url("../image/mf_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 48px;
    height: 32px; }
  header a.icon {
    z-index: 1;
    margin: 14px;
    float: right;
    display: block;
    background: url("../image/burger.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 32px; }
    @media only screen and (min-width: 641px) {
      header a.icon {
        display: none; } }
  header nav {
    z-index: 0;
    float: left;
    width: 100%;
    display: none;
    position: relative; }
    @media only screen and (min-width: 641px) {
      header nav {
        display: block !important;
        text-align: center;
        margin: 20px 0 0 48px;
        float: none;
        width: auto;
        background: transparent; } }
    header nav ul {
      margin: 0;
      padding: 0; }
      header nav ul li {
        list-style: none;
        display: block;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #000;
        background-color: #fff;
        padding: 10px 14px 9px 14px; }
        @media only screen and (min-width: 641px) {
          header nav ul li {
            margin: 0 2px;
            padding: 0;
            width: auto;
            display: inline-block;
            border: none;
            background-color: transparent; } }
        header nav ul li a {
          text-decoration: none;
          text-transform: uppercase;
          color: #cd0538;
          text-align: left; }
          header nav ul li a:hover {
            font-weight: bold; }
          @media only screen and (min-width: 641px) {
            header nav ul li a {
              color: #fff;
              padding: 3px 5px;
              font-weight: 800;
              border-radius: 5px; }
              header nav ul li a:hover {
                font-weight: 800;
                /* executing a link animation in the desktop view */
                animation-name: navhover;
                animation-duration: 2s;
                animation-fill-mode: forwards; } }
